<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDkleznBdF_sOPIso7sEn0sSlhyLoTJOWg</string>
	<key>GCM_SENDER_ID</key>
	<string>962253857523</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.techAcadmy</string>
	<key>PROJECT_ID</key>
	<string>techacademy-8fbd1</string>
	<key>STORAGE_BUCKET</key>
	<string>techacademy-8fbd1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:962253857523:ios:494e5e239f9ecf08590d86</string>
</dict>
</plist>